@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/fonts/Orbitron-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: 400;
    src: url('./Assets/fonts/monaco.ttf');
}

html {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #082532;
    color: #85e0fc;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#root {
    height: 100%;
}
input, textarea, select, button, img {
    -webkit-user-drag: none;
    outline:0;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 130px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #85e0fc;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}